<h3>FFFFFFFFFFFFFFFFFFFFFFFF</h3>
 
<p>Test Message: <%= @testmessage %></p>
<p>Message: <%= @message %></p>
   
<div class="row-fluid">
    <div class="span12">
        <table class="nc-table table table-striped table-condensed" id="dataTable">
            <thead>
                <tr>
                    <th>
                        Subject ID
                    </th>
                    <th>
                        Date last active
                    </th>
                    <th>
                        Date created
                    </th>
                    <th>
                        Study<!-- REFACTOR: v2 Study/Facilitator -->
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div> 

