
<div class="row">
  <div class="span3">We Can put some user details here.  This page will be used for displaying a users "profile" to outsiders, </div>
  <div class="span6"> We should also display the users default blog if they have one, and if none the first blog we find by them.  </br></div>
</div>
