 <ul class="span12 nav nav-tabs" id="admin-tabs">
    <li id="country-tab" class="nav-link" data-nav-link-id="countries" data-nav-link-group="crud">
		<a href="/countries/index/">Countries</a> 
	</li>
	<li id="state-tab" class="nav-link" data-nav-link-id="states" data-nav-link-group="crud">
		<a href="/states/index/">States</a> 
	</li>
    <li id="climate-tab" class="nav-link" data-nav-link-id="climates" data-nav-link-group="crud"> 
		<a href="/climates/index/">Climates</a>  
    </li> 
</ul> 

